:root{
    /*color*/
    --white:#fff;
    --black:#000;
    /*background colors*/
    --main-bg-color: #141922;
    --input-bg-color: #202a3c;
    --content-bg-color:#1b2330;
    --footer-bg-color: #0b1523;
}
/*start of light mode*/
.lightMode{
    /*color*/
    --white:#000;
    /*backgroundcolors*/
    --main-bg-color: #e7e7e7;
    --input-bg-color: #f5f5f5;
    --content-bg-color:#fff;
    --footer-bg-color: #bebebe;
}
.lightMode.time
{
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}
#lightModeToggle
{
    position: fixed;
    top: 25%;
    left: -15px;
    width: 35px;
    z-index: 9;
    cursor: pointer;
    background-color: var(--black);
    border-radius: 20px;
    overflow: hidden;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    box-shadow: 0 0 15px var(--box-shadow-color1);
    animation: lightMode 2s infinite cubic-bezier(0, 0, 0.50, 0.50);
    -webkit-animation: lightMode 2s infinite cubic-bezier(0, 0, 0.50, 0.50);
}
@keyframes lightMode {
    0%, 100%
    {
        box-shadow: 0 0 15px var(--box-shadow-color1);
    }
    50%
    {
        box-shadow: 0 0 25px var(--box-shadow-color1);
    }
}
#lightModeToggle .lightModeRotate
{
    transition: all ease-in 0.4s;
    -webkit-transition: all ease-in 0.4s;
    -moz-transition: all ease-in 0.4s;
    -ms-transition: all ease-in 0.4s;
    -o-transition: all ease-in 0.4s;
}
#lightModeToggle div.moon , #lightModeToggle div.sun
{
    padding: 15%;
    margin: 5%;
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
}
#lightModeToggle img {
    animation: lightModeIconRotate 15s infinite cubic-bezier(0, 0, 0.50, 0.50);
    -webkit-animation: lightModeIconRotate 15s infinite cubic-bezier(0, 0, 0.50, 0.50);
}
@keyframes lightModeIconRotate {
    0%
    {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    50%
    {
           transform: rotate(180deg);
           -webkit-transform: rotate(180deg);
           -moz-transform: rotate(180deg);
           -ms-transform: rotate(180deg);
           -o-transform: rotate(180deg);
    }
    75%
    {
           transform: rotate(270deg);
           -webkit-transform: rotate(270deg);
           -moz-transform: rotate(270deg);
           -ms-transform: rotate(270deg);
           -o-transform: rotate(270deg);
    }
    100%
    {
           transform: rotate(360deg);
           -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
           -ms-transform: rotate(360deg);
           -o-transform: rotate(360deg);
    }
}
#lightModeToggle.disabled .lightModeRotate
{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
#lightModeToggle.enabled .lightModeRotate
{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
#lightModeToggle.enabled div.moon:nth-child(1) ,#lightModeToggle.disabled  div.sun:nth-child(2) {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
a{color: #4162f6; text-decoration: none;}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    font-family: 'Titillium Web', sans-serif;
    color: var(--white);
}

/* ------------ container ------------ */
.container{
    padding:10px;
    width:380px;
    margin:0 auto;
}
/* ------------ header ------------ */
.header{
    width: 380px;
    height:200px;
    background-image: url('../img/bg2.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 20px;
}
.clear i{
    font-size: 30px;
    color: #FFF;
    transition:all 0.1s ease;
    -webkit-transition:all 0.1s ease;
    -moz-transition:all 0.1s ease;
    -ms-transition:all 0.1s ease;
    -o-transition:all 0.1s ease;
    -webkit-transition:all ease 0.5s;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}
#date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ content ------------ */
.content{
    width:380px;
    height: 350px;
    max-height:350px;
    background-color: var(--content-bg-color);
    overflow: auto;
}
.content::-webkit-scrollbar { 
    display: none; 
}
.content ul{
    padding:0;
    margin:0;
}
.item{
    width:380px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#6eb200;
}
.item p.text{
    padding:0;
    margin:auto;
    font-size: 20px;
    max-width:285px;
    word-wrap: break-word;
    flex: 1;
}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}
/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 360px;
    height:40px;
    background-color: var(--input-bg-color);
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.add-to-do i{
    position: absolute;
    font-size: 40px;
    color: #4162f6;
}

.add-to-do input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
    color: var(--white);
}
.add-to-do :is(input::-webkit-input-placeholder,input::-moz-placeholder , input:-ms-input-placeholder, .add-to-do input:-moz-placeholder){ 
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color:  var(--footer-bg-color);
}